body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

.waves-effect {
    font-size: 28px;
}
   input {

    color: black;
    font-weight: bolder;
   } 
.form-container {
    background-color: rgba(252, 252, 244, 0.9) ;
    
    color: black;
    font-weight: bolder;
}
body.contact-body {
    background-image: url("../images/Store3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    padding-top: 5px;
    /* margin-top: 10px; */
    margin-left: 40px;
}



nav ul a.btn-large {
    margin-top: 20px;
    
}
.carousel .carousel-item {
    width:500px !important;
}


.carousel {
    margin-top: -10px;
    /* height:500px; */
    margin-bottom: 20px;
}

.error {
    color: #c00f53;
}

@media only screen and (min-width: 601px){
    nav {
        height: 95px;
    } 

}