body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h4 {
    color: #00b8d4;
}

h5 {
    color: black;
    font-size: 20px !important;
}

.waves-effect {
    font-size: 28px;
}

input {
    color: black;
    font-weight: bolder;
}

#container-cart {
    background-color: rgba(252, 252, 244, 0.9);
    color: black;
    font-weight: bolder;
}

.form-container {
    background-color: rgba(252, 252, 244, 0.9);
    color: black;
    font-weight: bolder;
}

body.contact-body {
    background-image: url("../images/Store3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body.cart-body {
    background-image: url("../images/Store7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#cart-body {
    background-image: url("../images/Store7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    padding-top: 5px;
    margin-left: 40px;
}

nav ul a.btn-large {
    margin-top: 20px;
}

.carousel .carousel-item {
    width: 500px !important;
    height: 300px !important;
}

.menuList {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center
}

.material-icons {
    color: #68c4c2;
}

.error {
    color: #c00f53;
}

.sidenav {
    background-color: #fce4ec;
}

#mobile-demo {
    background-color: #fce4ec;
}

@media only screen and (min-width: 601px) {
    nav {
        height: 56px;
    }
    .brand-logo {
        max-width: 50%;
    }
}