body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

.waves-effect {
    font-size: 28px;
}

.brand-logo {
    width: 15%;
    margin-left: 35px;
   

}

nav ul a.btn-large {
    margin-top: 20px;
    
}


.carousel .carousel-item {
    width:500px !important;
}
.carousel {
    height:500px;
}

@media only screen and (min-width: 601px){
    nav {
        height: 95px;
    } 
}